
@import url('https://fonts.googleapis.com/css2?family=Arizonia&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}
.container{
    background: linear-gradient(90deg, #B7B78A 50%, #3C6255 50%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper{
    width: 90%;
    height: 90vh;
    background-color: #DDDDDD;
}
.navbar{
    width: 90%;
    height: 15vh;
    margin: auto;
}
.navbar .logo{
    background-color: transparent;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 3px solid #3C6255;
    border-right: 2px solid transparent;
    position: relative;
}
.logo::before{
    content: "Shopify";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-10%, -50%);
    color: rgb(0, 0, 0);
    font-size: 35px;
    font-family: 'Arizonia', cursive;

}
.navbar, .navlist{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navlist li{
    list-style: none;
    padding: 20px;
}
.navlist a{
    color: black;
    font-size: 18px;
    text-decoration: none;
    letter-spacing: 1px;
    position: relative;
}
.navlist a::before{
    content: "";
    position: absolute;
    bottom: -10px;
    width: 0;
    height: 2px;
    background-color: black;
    transition: .5s ease-in-out;
}
.navlist a:hover::before{
    width: 100%;
}
.hamburger{
    display: none;
    cursor: pointer;
}

.hamburger span{
    background-color: rgb(73, 73, 73);
    width: 15px;
    height: 3px;
    margin: 5px;
    display: block;
}
.hamburger span:nth-child(2){
    width: 30px;
}
.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}
.hero img{
    width: 45vw;
}
.content{
    border-left: 4px solid #3C6255;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
}
.content h3{
    color: rgb(73, 73, 73);
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 5px;

}
.content h1{
    font-size: 50px;
    color: #3C6255;
}
.content p{
    font-size: 18px;
    line-height: 30px;
}
.content button{
    background-color: #3C6255;
    border: none;
    color: white;
    padding: 15px 30px;
    font-size: 18px;
}
.content button:hover{
    background-color: white;
    color: #3C6255;
    cursor: pointer;
}








@media screen and (max-width: 1155px){
    .content{
        padding: 10px 20px;
    }
    .content h3{
        font-size: 20px;
    }
    .content h1{
        font-size: 40px;
    }
    .content p{
        font-size: 17px;
    }
}
@media screen and (max-width:880px) {
    .content h1{
        font-size: 30px;
    }
    
}




@media screen and (max-width:796px){
    .wrapper{
        position: relative;
        overflow: hidden;
    }
    .navlist{
        position: absolute;
        flex-direction: column;
        right: -70%;
        top: 0;
        bottom: 0;
        background-color: #B7B78A;
        height: 90vh;
        width: 250px;
        padding: 10px 0px;
        justify-content: center;
        transition: .5s ease-in-out;
    }
    .navlist-active{
        right: 0;
    }
    .hamburger{
        z-index: 5;
    }
    .hero img{
        display: none;
    }
    .hamburger{
        display: block;
    }
    .content h1{
        font-size: 45px;
    }
    .content p{
        font-size: 18px;
    }
    .content{
        padding: 40px;
    }
}
  
  












